### This is my first Notebook of python!

This page contains basic print statemetns and simple operations of Python.

In [2]:
# Print statement
print("hello world!")

hello world!

In [3]:
# constant double value
pi = 22/7

In [4]:
#Addition
5 + pi

8.142857142857142

In [5]:
#Division
5/2

2.5

In [6]:
5 + 5.5

10.5

In [7]:
#Comparision
5 < 8

True

In [8]:
"Welcome to the world of Python"

'Welcome to the world of Python'

In [9]:
#List of elements
list_num = [1,2,3,4,5,6]
list_str = ["vijay","jay","saraswati","tiru"]
list_float = [80000.00, 25000.00, 5000.00, 60000.00]

In [10]:
#Printing list
print(list_num)
print(list_str)
print(list_float)

[1, 2, 3, 4, 5, 6]
['vijay', 'jay', 'saraswati', 'tiru']
[80000.0, 25000.0, 5000.0, 60000.0]

In [11]:
#Tuple of strings
('blue coral', 'staghorn coral', 'pillar coral')

('blue coral', 'staghorn coral', 'pillar coral')

In [12]:
#Dictionary
{'name': 'Vijay',
'age': 26,
'Company': 'Neustar'}

{'name': 'Vijay', 'age': 26, 'Company': 'Neustar'}

In [13]:
#String variable
str = "This is my first string."
print(str)

This is my first string.

In [14]:
#Multi line print statement
print("This string \
spans multiple \
lines.")

This string spans multiple lines.